.logo{
    
    width: 200px;
    height: 40px;

}
#menu_web{ 
    background: white;
    text-align: left;
}

.menu{
    display: inline-block;
    position: relative;
    left: 70%;
    text-align: right;
    font-weight: bold;
    bottom: 10px;
}
.menu:link{ /*CSS pada class (multi) beberapa*/

}
.menu:visited{ /*CSS pada class (multi) beberapa*/

}
.menu:active{
    color: black;
}
.menu:hover{
    color:red;
}

body{
    display: inline-block;
    background-image: url(../img/img.jpg);
    bottom: 30px;

}
#article-list{
    position: relative;
    background-color: white;
    bottom: 10px;
    text-align: left;
    margin-left: 50px;
    margin-right: 50px;
}
.list{
    border: 3px solid gray;
    padding: 10px 20px 20px;
    bottom: 10px;

}
#footer{
    background-color: black;
    text-align: center;
    height: 50px;
    color: white;
    padding-top: 5px;
    padding-bottom: 10px;

}